<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <%= @layout_view.injected_html %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <% if @layout_view.on_homepage? %>
        Guide
      <% else %>
        <%= @layout_view.active_node_title %> ~ Guide
      <% end %>
    </title>

    <meta name="description" content="<% if @layout_view.on_homepage? %>A living, breathing, evolving guide.<% end %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag("guide/application.min.css", :media => "all") %>
  </head>

  <body>
    <div data-view="layout">

      <header class="header" role="banner">
        <div class="header__logo-container p2">
          <% if @layout_view.show_image_logo? %>
            <%= link_to(image_tag(Guide.configuration.asset_path_for_logo,
                        :alt => Guide.configuration.guide_name),
                        root_path,
                        :class => "header__logo") %>
          <% else %>
            <h4 class="m0">
              <%= link_to(Guide.configuration.guide_name,
                          root_path,
                          :class => "link -color-white") %>
            </h4>
          <% end %>
        </div>
        <!-- header logo container -->

        <nav class="header__navigation" role="navigation">
          <a href="#" class="link -color-white -is-active dib p2">Documentation</a>
          <a href="#" class="link -color-white dib p2">Components</a>
          <a href="#" class="link -color-white dib p2">Brand</a>
        </nav>
        <!-- header navigation -->
      </header>

      <!-- <aside class="js-layout__sidebar sidebar" role="complementary">
        <div class="sidebar-inner">
          <div class="sidebar-nav">
            <%= yield :sidebar %>
          </div>
        </div>
      </aside>

      <main class="js-layout__content main" role="main">
        <header class="header" role="banner">
          <%= render 'guide/common/page_title', :view => @layout_view %>

          <div class="header-controls">
            <div class="nav-controls">
              <div class="nav-hamburger">
                <a class="nav-toggle">
                  <i class="e-icon -icon-hamburger -size-medium"><span class="e-icon__alt">Nav</span></i>
                </a>
              </div>

              <%= render 'guide/common/category', :view => @layout_view %>
              <%= render 'guide/common/search', :view => @layout_view %>
            </div>
          </div>

          <%= render 'guide/common/visibility_banner', :view => @layout_view %>
        </header>

        <div class="content">
          <%= yield %>
          <%= render 'guide/common/footer', :view => @layout_view %>
        </div>
        <div class="js-layout__nav-overlay overlay"></div>
      </main> -->
    </div>
    <!-- container -->
    <%= javascript_include_tag "guide/application" %>
  </body>
</html>
