<!doctype html>
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%= @layout_view.node_title %> ~ <%= @layout_view.scenario_name %> ~ <%= Guide.configuration.company_name %> Guide
    </title>

    <%# TEMP: Hotlink to Envato Market prod assets %>
    <%= javascript_include_tag("http://dmypbau5frl9g.cloudfront.net/assets/guide/scenario-47e9a03ccacd12b36b152008a5a50ae5.js") %>
    <%= stylesheet_link_tag("http://dmypbau5frl9g.cloudfront.net/assets/guide/scenario-0850d15390e6ad5383256d43d3473da2.css", :media => "all") %>

    <% # Application specific stylesheets to render template %>
    <% @layout_view.node_stylesheets.each do |styleheet|%>
      <%= stylesheet_link_tag(styleheet, :media => "all") %>
    <% end %>
  </head>

  <body class="e-guide">
    <% if @layout_view.format == 'html' %>
      <%= render  @layout_view.node_layout_template,
                  :presenter => @layout_view.node_layout_view_model %>
    <% else %>
      <%= render  "#{@layout_view.node_layout_template}.#{@layout_view.format}",
                  :presenter => @layout_view.node_layout_view_model %>
    <% end %>

    <% @layout_view.node_javascripts.each do |javascript|%>
      <%= javascript_include_tag(javascript) %>
    <% end %>
  </body>
</html>
