<!doctype html>
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <%= @layout_view.injected_html %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%= @layout_view.node_title %> ~ <%= @layout_view.scenario_name %> ~ <%= Guide.configuration.guide_name %>
    </title>

    <%# TEMP: Hotlink to Envato Market prod assets %>
    <%= javascript_include_tag "guide/scenario" %>
    <%= stylesheet_link_tag("https://dmypbau5frl9g.cloudfront.net/assets/guide/scenario-0850d15390e6ad5383256d43d3473da2.css", :media => "all") %>

    <% # Application specific stylesheets with which to render the template %>
    <% if @layout_view.inject_stylesheets? %>
      <% @layout_view.node_stylesheets.each do |styleheet|%>
        <%= stylesheet_link_tag(styleheet, :media => "all") %>
      <% end %>
    <% end %>
  </head>

  <body class="e-guide">
    <%= render  :template => @layout_view.node_layout_template,
                :formats => [@layout_view.format],
                :locals => {
                  Guide.configuration.local_variable_for_view_model => @layout_view.node_layout_view
                } %>

    <% if @layout_view.inject_javascripts? %>
      <% @layout_view.node_javascripts.each do |javascript|%>
        <%= javascript_include_tag(javascript) %>
      <% end %>
    <% end %>
  </body>
</html>
