<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%= @layout_view.node_title %> ~ <%= @layout_view.scenario_name %> ~ Guide
    </title>

    <%# TEMP: Hotlink to Envato Market prod assets %>
    <%= javascript_include_tag("http://dmypbau5frl9g.cloudfront.net/assets/guide/scenario-f226d62a1b6d6984169a8833594b1dd7.js") %>

    <% # Application specific stylesheets to render template %>
    <% @layout_view.node_stylesheets.each do |styleheet|%>
      <%= stylesheet_link_tag(styleheet, :media => "all") %>
    <% end %>
  </head>

  <body class="e-guide">
    <% if @layout_view.format == 'html' %>
      <%= render  @layout_view.node_layout_template,
                  :presenter => @layout_view.node_layout_view_model %>
    <% else %>
      <%= render  "#{@layout_view.node_layout_template}.#{@layout_view.format}",
                  :presenter => @layout_view.node_layout_view_model %>
    <% end %>

    <% @layout_view.node_javascripts.each do |javascript|%>
      <%#= javascript_include_tag(javascript) %>
    <% end %>
  </body>
</html>
