<%= render 'guide/scenarios/scenario_list', :view => view %>
<%= render 'guide/scenarios/template_location', :view => view %>

<% view.visible_scenarios.each do |scenario_id, scenario| %>
  <section class="sg-scenario" id="<%= scenario_id %>" data-view="scenario">
    <%= render 'guide/scenarios/scenario/toolbar',
                :view => view,
                :scenario => scenario,
                :scenario_id => scenario_id %>

    <% view.formats.each do |scenario_format| %>
      <% if view.multiple_formats? %>
        <h3 class="t-heading -size-xs h-spacing-above">
          <%= t(scenario_format, :scope => 'styleguide.format')%>
        </h3>
      <% end %>
      <%= content_tag :div,
                      :class => "js-guide__scenario-container sg-scenario__container" do %>
        <%= render  'guide/scenarios/scenario',
                    :scenario_id => scenario_id,
                    :node_path => view.node_path,
                    :scenario_format => scenario_format %>
      <% end %>
    <% end %>
  </section>
<% end %>
