<% # Delete this template when all scenarios are rendered through iframes %>

<nav class="box -radius-all h-spacing-below">
  <h3 class="t-heading -size-m">Scenarios:</h3>
  <ul class="t-list -style-decimal">
    <% view.visible_scenarios.each do |scenario_id, scenario| %>
      <li class="t-body h-remove-margin">
        <%= link_to scenario.name, "##{scenario_id}", :class => 't-link' %>
      </li>
    <% end %>
  </ul>
</nav>

<% if view.user_is_staff? %>
  <div class="h-spacing-below">
    <code class="sg-code t-body -size-m" title="template location">
      <%= view.template_location %>
    </code>
  </div>
<% end %>

<% view.visible_scenarios.each do |scenario_id, scenario| %>
  <section class="sg-scenario" id="<%= scenario_id %>">
    <header class="sg-scenario__header">
      <div class="sg-banner -status-<%= scenario.options[:visibility] || :public %>">
        <% if view.user_is_staff? %>
          <%= render  'styleguide/nodes/scenario_visibility_icon',
                      :visibility => scenario.options[:visibility] %>
        <% end %>
        <div class="sg-banner__message">
          <h3 class="t-heading -size-xxs -color-inherit h-remove-margin">
            <%= link_to scenario.name, "##{scenario_id}",
                        :class => [
                          "t-link -decoration-reversed",
                          (scenario.options[:visibility].nil? ? '-color-inherit' : '-color-light')
                        ] %>
          </h3>
        </div>
        <% if scenario.options.show_submit_state? %>
          <%= render 'styleguide/nodes/show_submit_state' %>
        <% end %>
      </div>
    </header>
    <% view.formats.each do |scenario_format| %>
      <% if view.multiple_formats? %>
        <h3 class="t-heading -size-xs h-spacing-above">
          <%= t(scenario_format, :scope => 'styleguide.format')%>
        </h3>
      <% end %>
      <%= content_tag :div,
                      :class => ["sg-scenario__container",
                                 "-status-#{scenario.options[:visibility] || :public}",
                                 view.default_wrapper_css,
                                 scenario.options.wrapper_css].join(" "),
                      :data => {
                        :view => "sgScenario"
                      } do %>
        <%= render  'styleguide/nodes/scenario_as_iframe',
                    :scenario_id => scenario_id,
                    :node_path => view.node_path,
                    :scenario_format => scenario_format %>
      <% end %>
    <% end %>
  </section>
<% end %>
