<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body">A base set of Envatian colors which should be used across the Envato ecosystem.</p>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Brand Specific Colors</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <% brand_colors = [
      ["$envato-green", "#82b541", "light"]
    ] %>

    <div class="sg-grid">
      <% brand_colors.each do |variable, hex, text_color| %>
        <div class="sg-grid__item">
          <div class="sg-swatch">
            <div class="sg-swatch__header -color-<%= text_color %>" style="background-color:<%= hex %>;}">
              <%= hex %>
            </div>
            <div class="sg-swatch__body -color-light">
              <%= variable %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>


   <section class="sg-content__group">
    <h2 class="t-heading -size-m">(n) Shades of Grey</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <% grey_colors = [
      ["$black", "#000", "light"],
      ["$grey10", "#1a1a1a", "light"],
      ["$grey15", "#262626", "light"],
      ["$grey20", "#333", "light"],
      ["$grey30", "#4d4d4d", "light"],
      ["$grey40", "#666", "light"],
      ["$grey50", "#7f7f7f", "light"],
      ["$grey60", "#999", "light"],
      ["$grey65", "#a6a6a6", "light"],
      ["$grey70", "#b3b3b3", "light"],
      ["$grey80", "#ccc", "dark"],
      ["$grey85", "#d9d9d9", "dark"],
      ["$grey90", "#e5e5e5", "dark"],
      ["$grey95", "#f2f2f2", "dark"],
      ["$white", "#fff", "dark"],
    ] %>

    <div class="sg-grid">
      <% grey_colors.each do |variable, hex, text_color| %>
        <div class="sg-grid__item">
          <div class="sg-swatch">
            <div class="sg-swatch__header -color-<%= text_color %>" style="background-color:<%= hex %>;}">
              <%= hex %>
            </div>
            <div class="sg-swatch__body -color-light">
              <%= variable %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

</div>
